.btn {
    @apply text-black text-base leading-snug; 
    @apply py-3 px-4 border-none rounded-lg;
    @apply inline-block cursor-pointer no-underline;

    &:focus {
        @apply outline-none;
    }

    &:hover {
        background-color: var(--grey04);
    }

    &.accent {
        color: var(--blue01);
    }

    &.primary {
        @apply text-white;

        background-color: var(--blue01);

        &:hover {
            background-color: var(--blue02);
        }
    }

    &.circle {
      @apply rounded-full leading-tight text-2xl;
    }

    &.with-ripple {
        overflow: hidden;
        position: relative;

        @keyframes ripple {
            to {
                @apply opacity-0;
                transform: scale(2.5);
            }
        }

        .ripple {
            position: absolute;

            z-index: 1;
            border-radius: 50%;
            background-color: var(--grey04);
            transform: scale(0);
            animation: ripple 0.6s linear;
        }

        &.primary {
            .ripple {
                background-color: var(--black02);
            }
        }
    }
}