:root {
    --blue01: #4ea4f6;
    --blue02: #4796e1;

    --grey01: #dadce0;
    --grey02: #a2acb4;
    --grey03: #707579;
    --grey04: rgba(112, 117, 121, 0.08);
    --grey05: #cecece;
    --grey06: #f4f4f5;
}